<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<<<<<<< HEAD
  <li><%= link_to "Welcome", root_path%></li>
  <li><%= link_to "Portfolio", portfolio_path%></li>
  <li><%= link_to "Contact", contact_path%></li>
  <li><%= link_to "About", about_path%></li>
=======
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
>>>>>>> origin/master
</ul>
<ul class=footer>
  <li><a href=#><img src="https://www.dropbox.com/s/x7hsxaxsa6955v2/002-logotype.png?dl=0"></a></li>
  <li><a href=#><img src="https://www.dropbox.com/s/3ch60d5d27s05jm/001-linkedin.png?dl=0"></a></li>
</ul>
<%= yield %>

</body>
</html>
